/* Customize container */

@media (min-width: 800px) {
    .container {
        max-width: 950px;
    }
}

.container-narrow > hr {
    margin: 20px 0;
}

.footer {
    height: 60px;
    border-top: 1px solid #FFF;
    line-height: 60px;
}

.table > tbody > tr {
    background-color: #EDEDED;
    color: #333;
}

.pad00 {
    padding: 0 !important;
}

.pad0 {
    padding: 5px;
}

.pad0y {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pad0x {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.pad1 {
    padding: 10px;
}

.pad2 {
    padding: 20px;
}

.pad4 {
    padding: 40px;
}

.pad1x {
    padding-left: 10px;
    padding-right: 10px;
}

.pad2x {
    padding-left: 20px;
    padding-right: 20px;
}

.pad4x {
    padding-left: 40px;
    padding-right: 40px;
}

.pad1y {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad2y {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad4y {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pad8 {
    padding: 80px;
}

.pad8y {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pad8x {
    padding-left: 80px;
    padding-right: 80px;
}

.mar00 {
    margin: 0 !important;
}

.mar0 {
    margin: 5px;
}

.mar0y {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mar0x {
    margin-right: 5px;
    margin-left: 5px;
}

.marXs {
    margin: 1px;
}

.mar1 {
    margin: 10px;
}

.mar-1 {
    margin: 10px;
}

.mar2 {
    margin: 20px;
}

.mar4 {
    margin: 40px;
}

.mar1x {
    margin-left: 10px;
    margin-right: 10px;
}

.mar2x {
    margin-left: 20px;
    margin-right: 20px;
}

.mar4x {
    margin-left: 40px;
    margin-right: 40px;
}

.mar1yt {
    margin-top: 10px !important;
}

.mar1yb {
    margin-bottom: 10px !important;
}

.mar1y {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mar2y {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mar4y {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mar8 {
    margin: 80px;
}

.mar8y {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mar8x {
    margin-left: 80px;
    margin-right: 80px;
}

.fa-inverse {
  color: #2B3E50;
}

.strong{
    font-weight:bold;
}

.em{
    font-style: italic;
}

.orange{
      color: #DF691A;
}
