html,body {
    font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    background-color:#369;
    background-image:linear-gradient(#477FB8,#369);
    margin:0;
}

body {
    /*margin:50px 10px*/
}

#form-container {
    background-color:#FFF;
    border-top:40px solid #69C;
    box-shadow:0 2px 30px #111
}

.lform-group-style{
  border:3px solid #369;

}

.progress-bar-info {
    background-color:#369
}

.modal {
    top:calc(50% - 200px)!important
}

.step {
    text-align:center;
    display:flex;
    flex-wrap:wrap
}

.step :hover {
    background-color:#369;
    cursor:pointer;
    color:#fff
}

.step .activestep {
    background-color:#369;
    background-image:linear-gradient(#477FB8,#369);
    color:#fff
}

.steps {
    color:#369;
    background:#fff;
    border:1px solid #369;
    flex-grow:1
}

.border {
    border:1px solid #494949!important
}

.pad0 {
    padding:0
}

.pad5{
  padding:5px;
}
.pad5y {
    padding:5px 0
}












.login {
    background-attachment: scroll;
    background-image: url(../images/yosemite.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
}

.login  .intro-text {
        text-align: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
}

.login  .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

.login  .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {


    .login  .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    .login  .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}



.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
  .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;

    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }













.form-welcome {
  max-width: 580px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
