node_modules
.tmp
.DS_Store
.ignore
*.log

webpage/bower_components
main_logo
/uploads/records/**
*/uploads/logo/*.png
/uploads/logo/*.jpg
/uploads/logo/tmp/**


npm-debug.log


build/libs/*
dist
allbuilds
