@menu-width: 270px;
@column: 2.55555%;
body {
    background-color: @color-navyBlue;
    color: @color-navyBlue;
    font-size: 16px; //this sets the baseline so we can use multiples of 4 & (r)ems
}

#container {
    .position(absolute, 0, 0, 0, 0);
    @media screen and (min-width: 60em) {
        _left: @column;
        right: @column;
    }
    @media screen and (min-width: 80em) {
        _left: 2*@column;
        right: 2*@column;
    }
    // Hide anything offscreen
    overflow: hidden;
}

#menu {
    .position(absolute, 0, 0, 0, 0, @menu-width);
    border-right: 1px solid @color-light;
    @media print {
        display: none !important;
    }
}

#content-container {
    @media print {
        *, *:before, *:after {
            color: initial !important;
            text-shadow: none !important;
            background-color: @color-navyBlue !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
    }
    .position(absolute, 0, 0, 0, 0);
    .transition(all 200ms ease-out);
    .transform(translate3d(0, 0, 0));
    background: @color-navyBlue;
    opacity: 1;
    @media screen and (min-width: 40em) {
        left: @menu-width;
        _right: 0
    }
    .content-scrollable {
        .position(absolute, 0, 0, 0, 0);
        .transform(translate3d(0, 0, 0));
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        color: @color-light;
        background: @color-navyBlue;
    }
    // Toggle menu on mobile
    .menu-open & {
        .transform(translate3d(@menu-width, 0, 0));
        opacity: .85;
        left: 0;
        @media screen and (min-width: 40em) {
            // Show menu on desktop, negate .menu-open
            .transform(translate3d(0, 0, 0)); //reset transform and use position properties instead
            opacity: 1;
            left: @menu-width;
        }
    }
}

// Transparent screen to prevent interactions on content when menu is open
.content-overlay {
    .position(absolute, 0, 0, 0, 0);
    cursor: pointer;
    .menu-open & {
        .transform(translate3d(@menu-width, 0, 0));
        z-index: 1;
    }
    // Hide overlay on desktop
    @media screen and (min-width: 40em) {
        display: none;
    }
}

.sarcat-bg {
    background: url(mt.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    margin-top: 5px;
    padding: 10px;
    color: @color-light;
    p {
        font-size: 16px;
        line-height: 16px;
        color: @color-greenish;
    }
}

.agencyLogo {
    margin-top: 5px;
    padding: 10px;
    color: #e4e6e7;
    img {
        border: 4px solid @color-light;
        max-width: 90%
    }
}
