<template name="appBody">
    <div id="container" class="container-fixed {{menuOpen}} {{cordova}}">
        <section id="menu">
            <div class="mar1 text-center">
                <img src="/icon.png" style="max-width: 100%;max-height: 200px;">
            </div>
            {{#if currentUser}}
            <div class="btns-group-vertical btns-userHome">
<!--
<a href="{{pathFor 'userhome'}}" class="strong default-bg btn-pad js-sharedRecords btn-secondary {{isUserView 'userhome'}}" data="records">{{email}}</a>
-->
                <a href="{{pathFor 'userhome'}}" class="strong btn-pad js-sharedRecords btn-secondary {{isUserView 'userhome'}}" data="records">{{email}}</a>

                <a class="btn-pad js-logout btn-secondary">Logout</a>
            </div>

            <div class="btns-group-vertical btns-userHome">
                <a href="{{pathFor 'records'}}" class="btn-pad js-sharedRecords btn-secondary records {{isUserView 'records'}}" data="records">Incident Records</a>
                <a href="{{pathFor 'stats'}}" class="btn-pad js-sharedRecords btn-secondary {{isUserView 'stats'}}" data="stats">SARCAT Stats</a> {{#if isAdmin}}
                <a href="{{pathFor 'admin'}}" class="btn-pad js-dashboard btn-secondary {{isUserView 'admin'}}" data='admin'>Admin Tools</a> {{/if}}
                <a href="{{pathFor 'about'}}" class="btn-pad js-dashboard btn-secondary {{isUserView 'about'}}" data='about'>About</a>
            </div>


            {{else}}
            <div class="btns-group"> <a href="{{pathFor 'signin'}}" class="btn-pad btn-secondary">Sign In</a> <a href="{{pathFor 'join'}}" class="btn-secondary btn-pad">Register</a> </div>
            {{/if}}
        </section>
        <div class="content-overlay"></div>
        <div id="content-container">
        <!--
                <nav>
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="tmp-icon-list-unordered"></span></a>
            </div>
        </nav>-->
            {{#each thisArray}} {{> yield}} {{/each}}
        </div>
    </div>
</template>
