<template name="userhome">
    <ul class="nav nav-tabs navyBLue-bg" style="height:20px">
    </ul>
    <div class="admin pad1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{currentUser.username}} Settings
                    </h3>
            </div>
            <div class="panel-body afBody">
              
                {{#if editUserInfo}} {{#autoForm collection="Meteor.users" resetOnSuccess=false doc=currentUser id='formIdUserProfile' type='method-update' meteormethod="editUser" buttonContent="Save" templates="plain" class="recordForm2" setArrayItems=true}} {{> afQuickField name="username"}} {{> afQuickField name="emails.0.address"}}
                <div class="col-md-12 pad00">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i> Submit</button>
                </div>
                {{/autoForm}} {{/if}}
                <button class="editUserInfo btn btn-default mar0y">{{btnTextDisabled}}</button>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Records
                    </h3>
            </div>
            <div class="panel-body afBody pad00">
{{> reactiveTable settings=settings}}
</div></div>


    </div>
</template>
