<template name="appBody">

    
    <div id="container" class="{{menuOpen}} {{cordova}}">
    
        <section id="menu">

            {{#if currentUser}}
            <div class="btns-group-vertical">
     
                <div class="btn-pad btn-secondary primary-bg strong">Welcome {{emailLocalPart}}!</div>
                <a class="btn-pad js-userProfile btn-secondary">My Profile</a>
                <a class="btn-pad js-logout btn-secondary ">Logout</a>
                
            </div>


            <div class="btns-group-vertical">
                <div class="btn-pad btn-secondary primary-bg strong">Records</div>
                <a class="btn-pad js-newRecord btn-secondary">My Records</a>
                <a class="btn-pad js-newRecord btn-secondary">Shared Records</a>
                <a class="btn-pad js-newRecord btn-secondary">+ New Record</a>
            </div>

            {{else}}
            <div class="btns-group">
                <a href="{{pathFor 'signin'}}" class="btn-pad btn-secondary">Sign In</a>
                <a href="{{pathFor 'join'}}" class="btn-secondary btn-pad">Join</a>
            </div>
            {{/if}}

            <div class="list-todos">
            



                {{#each lists}}
                <a href="{{pathFor 'form'}}" class="list-todo {{activeListClass}}" title="{{name}}">
            {{#if userId}}
              <span class="icon-lock"></span>
            {{/if}}
         
              <span class="count-list">{{status}}</span>
           
            {{name}}
          </a> {{/each}}
            </div>
        </section>
        {{#unless connected}}
        <div class="notifications">
            <div class="notification">
                <span class="icon-sync"></span>
                <div class="meta">
                    <div class="title-notification">Trying to connect</div>
                    <div class="description">There seems to be a connection issue</div>
                </div>
            </div>
        </div>
        {{/unless}}
        <div class="content-overlay"></div>
        <div id="content-container">
        <div class="mar1x"><h1 class="text-left white em">SARCAT <small class="em grey">Missing Persons Database</small></h1></div>
            {{#each thisArray}} {{> yield}} {{/each}}
        </div>
    </div>
</template>
