<template name="form">
    <div class="page _lists-show">
        <nav class="formNav">
            <h4 class="text-default nav-title"><strong>{{record.recordInfo.name}}</strong> <small><span class="default-bg_label">Prepared By: <strong> <em>{{record.admin.user}} </em></strong></span> | <span class="default-bg_label">Created: <strong> <em>{{record.created}}</em></strong></span></small>
            </h4>
            <div class="x">
                <div class="flex-container _btn-group col-md-12" role="group" aria-label="...">
                    {{#each schemas}}
                    <button type="button" data="{{this.field}}" class="formNav flex-item btn default-bg mar0 _pad1">{{this.field}} <small>{{this.current}}/{{this.total}} </small></button>
                    {{/each}}
                </div>
                {{json schemas.recordInfo}}
            </div>
        </nav>
        <div class="content-scrollable list-items">
            <div class="pad2">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h3 class="panel-title">Incident Map</h3>
                    </div>
                    <div class="panel-body afBody">
                        <div class="row">
                            <div class="col-md-12">
                                <div id='formMap' style="width:100%;height:400px">
                                    <div class="btn-group-vertical btn-group-sm mapPoints mapLeft mar0x" data-toggle="buttons">
                                        <div class="btn text-success primary-bg white mar1y" data="i_ppCoordinates">
                                            <div class='text-left'>Incident Location
                                                <span class="fa-stack _pull-right">
                                          <i class="fa fa-times-circle-o fa-2x fa-fw travelDirection text-black"></i>
                                        </span>
                                            </div>
                                            <div class='text-left'><em>Direction of Travel: </em>
                                                <span class="fa-stack _pull-right">
                                          <i class="fa fa-arrow-circle-up fa-2x fa-fw travelDirection text-black"></i>
                                        </span>
                                            </div>
                                        </div>
                                        <!--<a class="btn btn-default  mar1y" data="revisedLKP-PLS">
                                            <input type="checkbox" autocomplete="off"> &nbsp; Revised PLS/LKP
                                            <span class="fa-stack _pull-right">
                                          <i class="fa fa-times-circle-o fa-2x fa-fw text-success"></i>
                                        </span>
                                        </a>-->
                                        <a class="btn btn-default" data="destinationCoord">
                                            <input type="checkbox" autocomplete="off"> &nbsp; Intended Destination
                                            <span class="fa-stack _pull-right">
                                          <i class="fa fa-bullseye fa-2x fa-fw text-default"></i>
                                        </span>
                                        </a>
                                        <a class="btn btn-default  mar1y" data="findCoord">
                                            <input type="checkbox" autocomplete="off"> &nbsp; Find Location
                                            <span class="fa-stack _pull-right">
                                          <i class="fa fa-male fa-2x fa-fw text-success"></i>
                                        </span>
                                        </a>
                                        <a class="btn btn-default mar1y" data="decisionPointCoord">
                                            <input type="checkbox" autocomplete="off"> &nbsp; Decision Point
                                            <span class="fa-stack _pull-right">
                                          <i class="fa fa-code-fork fa-2x fa-fw text-danger"></i>
                                        </span>
                                        </a>
                                        <a class="btn btn-default" data="intendedRoute">
                                            <input type="checkbox" autocomplete="off"> &nbsp; Intended Route
                                            <span class="fa-stack pull-right">
                                          <i class="fa fa-location-arrow fa-2x fa-fw text-default"></i>
                                        </span>
                                        </a>
                                        <a class="btn btn-default" data="actualRoute">
                                            <input type="checkbox" autocomplete="off"> &nbsp; Actual Route
                                            <span class="fa-stack pull-right">
                                          <i class="fa fa-location-arrow fa-2x fa-fw text-success"></i>
                                        </span>
                                        </a>
                                    </div>
                                </div>
                                {{> quickForm collection='Records' doc=record id='formId333' class="hide" type='update' autosave=true fields="coords" buttonContent= "Save Response Area" resetOnSuccess='false'}}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Subject Info</h3>
                    </div>
                    <div class="panel-body afBody">
                        <table class="table table-hover table-bordered table-condensed">
                            <thead class='default-bg'>
                                <tr>
                                    {{#each subjectKeys}}
                                    <td class='afTable'>{{this}}</td>
                                    {{/each}}
                                    <td class='afTable'>Action</td>
                                </tr>
                            </thead>
                            <tbody class='white-bg'>
                                {{#each current.subjects.subject}}
                                <tr>
                                    <td>{{this.age}}</td>
                                    <td>{{this.sex}}</td>
                                    <td>{{this.local}}</td>
                                    <td>{{this.weight}}</td>
                                    <td>{{this.height}}</td>
                                    <td>{{this.physical_fitness}}</td>
                                    <td>{{this.experience}}</td>
                                    <td>{{this.equipment}}</td>
                                    <td>{{this.clothing}}</td>
                                    <td>{{this.survival_training}}</td>
                                    <td>
                                        <button data="{{this._key}}" type="button" class="pull-right btn btn-primary btn-xs glyphicon glyphicon-remove removeSubject btn-block">Remove</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{> quickForm id="updateSubjectForm" type="update-pushArray" collection='Records' class="form-inline" doc=current field="subjects" scope="subjects.subject" buttonContent= "Add Subject" resetOnSuccess=true}}
                    </div>
                </div>


{{#autoForm 
collection='Records' 
validation="submit" 
doc=current
class="_recordForm _form-inline _hideSubmit" 
id='formdIdMedical' 
autosave=true 
type='update'
fields="medical" 
}}


<!--
{{> afQuickField name="medical.status" options="allowed" noselect=true}}
{{#if afFieldValueIs name="medical.status" value="Injured"}}
{{> afQuickFields}} 
{{/if}}
-->
{{/autoForm}}




{{> quickForm 
collection='Records' 
validation="submit" 
doc=current 
class="_recordForm form-inline _hideSubmit" 
id='formdId' 
autosave=true 
type=formType 
omitFields="admin,updated,created, coords, subjects" 
buttonContent= "Save" 
resetOnSuccess='false'
}}



            </div>
        </div>
    </div>
</template>
