<template name="form1">
{{json this.name}}
<br>
{{#each afFieldNames}} 
{{json this}}<br>
{{/each}}
    <div class="panel">
        <div class="panel-heading collapsed" role="tab" id="heading_{{this.name}}" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{this.name}}" aria-expanded="false" aria-controls="collapse_{{this.name}}">
            <h3 class="text-uppercase">{{this.name}}</h3> </div>
        <div id="collapse_{{this.name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{this.name}}">
            <div class="panel-body">
                <!--   {{#if isEqual this.name 'subjectInfo'}} {{> formTimeLog}}
                    <hr> {{/if}}




                {{#if isEqual this.name 'incidentOperations'}} {{> formMap}}
                    <hr> {{/if}}
}
}
-->{{> afQuickFields class="afInput" name=this.name _options='allowed' noselect=true style="color: #018996" }}
                <!--
                {{#each afFieldNames name=this.name}} 

                {{> afQuickField class="afInput" name=this.name options="allowed" noselect=true}} 
                {{/each}}-->
            </div>
        </div>
    </div>
</template>
<template name="formTimeLog">
    {{#autoForm id="afInsertDemo" type="insert" collection=Collections.People}}
        

        <div class="form-group {{#if afFieldIsInvalid name='firstName'}}has-error{{/if}}">
            <label class="control-label">{{afFieldLabelText name='firstName'}}</label> {{> afFieldInput name='firstName'}}
            {{#if afFieldIsInvalid name='firstName' }} <span class="help-block">{{{afFieldMessage name='firstName'}}}</span> {{/if}}
        </div>


        <div class="form-group {{#if afFieldIsInvalid name='lastName'}}has-error{{/if}}">
            <label class="control-label">{{afFieldLabelText name='lastName'}}</label> {{> afFieldInput name='lastName'}}
            {{#if afFieldIsInvalid name='lastName' }} <span class="help-block">{{{afFieldMessage name='lastName'}}}</span> {{/if}}
        </div>


        <div class="form-group {{#if afFieldIsInvalid name='age'}}has-error{{/if}}">
            <label class="control-label">{{afFieldLabelText name='age'}}</label> {{> afFieldInput name='age'}}
            {{#if afFieldIsInvalid name='age' }} <span class="help-block">{{{afFieldMessage name='age'}}}</span> {{/if}}
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Person</button>
            <button type="reset" class="btn btn-default">Reset Form</button>
        </div>
    {{/autoForm}}
</template>
<template name="formMap">
    <div id='map' style="width:100%;height:400px"></div>
</template>



<template name="afSubjects">
    


{{> afQuickFields class="afInput" name=this.name _options='allowed' noselect=true style="color: #018996" }}
<!--

{{> afQuickFields class="afInput" name=this.name _options='allowed' noselect=true style="color: #018996" }}

{{#if isEqual this.name 'newSubject'}}

{{#each afFieldNames name=this.name}} 

               {{> afQuickField class="afInput" name=this.name options="allowed" noselect=true}}
{{/each}}
{{/if}}-->

<!--
  <div class="form-group {{#if afFieldIsInvalid name='firstName'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='firstName'}}</label>
    {{> afFieldInput name='firstName'}}
    {{#if afFieldIsInvalid name='firstName'}}
    <span class="help-block">{{{afFieldMessage name='firstName'}}}</span>
    {{/if}}
  </div>

-->






<!--  <div class="form-group {{#if afFieldIsInvalid name='firstName'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='firstName'}}</label>
    {{> afFieldInput name='firstName'}}
    {{#if afFieldIsInvalid name='firstName'}}
    <span class="help-block">{{{afFieldMessage name='firstName'}}}</span>
    {{/if}}
  </div>


  <div class="form-group {{#if afFieldIsInvalid name='lastName'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='lastName'}}</label>
    {{> afFieldInput name='lastName'}}
    {{#if afFieldIsInvalid name='lastName'}}
    <span class="help-block">{{{afFieldMessage name='lastName'}}}</span>
    {{/if}}
  </div>


  <div class="form-group {{#if afFieldIsInvalid name='age'}}has-error{{/if}}">
    <label class="control-label">{{afFieldLabelText name='age'}}</label>
    {{> afFieldInput name='age'}}
    {{#if afFieldIsInvalid name='age'}}
    <span class="help-block">{{{afFieldMessage name='age'}}}</span>
    {{/if}}
  </div>
-->


  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add Person</button>
    <button type="reset" class="btn btn-default">Reset Form</button>
  </div>


</template>
