<template name="records">
    <div class="modal fade" id="createRecordModal" tabindex="91" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title" id="myModalLabel">New Record</h4> </div>
                <div class="modal-body">
                    <div id='recordMap' style="width:100%;height:400px"></div>
                    {{#if newRecord}} 



                    {{> quickForm collection="Records" doc=newRecord class="_hideBody hideSubmit hideHeader" collection="Records" id="createRecordModalFormCoord" autosave=true type="update" fields="coords.ippCoordinates, coords.bounds"}} 



                    {{#autoForm collection="Records" doc=newRecord class="_hideSubmit hideHeader" collection="Records" id="createRecordModalForm" autosave=true type="update" removeEmptyStrings=true fields="recordInfo,coords"}} {{> afQuickField name='recordInfo'}} {{/autoForm}} {{/if}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn _btn-default js-deleteRecord" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar default-bg rad0 mar00">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand white" href="#">SARCAT Records</a> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs navbar-nav" role="tablist">
                    <li role="presentation" class="active"><a href="#records" aria-controls="home" role="tab" data-toggle="tab" class="white">All Records</a> </li>
                    <li role="presentation"><a href="#recordStats" aria-controls="profile" role="tab" data-toggle="tab" class="white">Record Stats</a> </li>
                </ul>
                <!--<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search"> </div>
                </form>-->
                {{#if isNotViewer}}
                <ul class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-primary black js-newRecord mar0" data-target="#createRecordModal" data-toggle="modal">New Record</button>
                </ul>
                {{/if}}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Tab panes -->
    <div class="tab-content admin">
        <div role="tabpanel" class="tab-pane active pad0" id="records">
            <div class="afTablePane">
                <table class="pointer table table-hover table-bordered table-condensed mar00">
                    <thead class='default-bg'>
                        <tr>
                            <td class='afTable'></td>
                            <td class='afTable'>Record</td>
                            <td class='afTable'>Owner</td>
                            <td class='afTable'>Created</td>
                            <td class='afTable'>Status</td>
                        </tr>
                    </thead>
                    <tbody class='white-bg'>
                        {{#each records}}
                        <tr>
                            <td><a href="{{pathFor 'form'}}" class="btn btn-primary btn-sm">View</a>
                            </td>
                            <td>{{recordInfo.name}}</td>
                            <td> {{admin.user}} </td>
                            <td>{{created}}</td>
                            <td> {{recordInfo.status}} </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane pad0 scroll" id="recordStats">
            <div class="scroll">
                <div class="panel panel-default">
                    <div class="panel-heading"> </div>
                    <div class="panel-body pad0">
                        <div id='target_table_id'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
