<template name="userHome">


{{#if userView 'userProfile'}}
{{> userProfile}}
{{else}}
{{#if userView 'userStats'}}
{{> userStats}}
{{else}}
{{#if userView 'admin'}}
{{> admin}}
{{/if}}
{{/if}}
{{/if}}
    <!--<div class="page lists-show">
        <div class="content-scrollable">
            <div class="row col-md-10 col-md-offset-1 mar2y {{userView 'Dashboard'}}">
                <h1>Dashboard</h1>
                <p>Record stats</p> {{recordStats}} </div>
            <div class="row col-md-10 col-md-offset-1 mar2y {{userView 'Profile'}}">
                {{#if formComplete 'profile'}}
                    <p class="text-danger em text-center"> Fill out your user profile to begin! </p>
                {{/if}}
                <div class="afContainer">
                    <div class="panel afPanel {{formComplete}}">
                        <div class="panel-heading collapsed" role="tab" id="heading_Profile" data-toggle="collapse" data-parent="#accordion" href="#collapse_Profile" aria-expanded="false" aria-controls="collapse_Profile">
                            <h3 class="text-uppercase">Profile</h3> </div>
                        <div id="collapse_Profile" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_Profile">
                            <div class="panel-body afBody"> {{> quickForm collection="Meteor.users" doc=user id="profileUpdateForm" class="hideHeader" type="update" trimStrings="true" validation='keyup' fields='profile' }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</template>



<!--
<template name="userProfile">
    <div class="page lists-show">
        <div class="content-scrollable">
            <div class="row col-md-10 col-md-offset-1 mar2y">
                {{#if profileIncomplete}}
                    <p class="text-danger em text-center"> Fill out your user profile to begin! </p>
                {{/if}}
                <div class="afContainer">
                    <div class="panel afPanel">
                        <div class="panel-heading collapsed" role="tab" id="heading_Profile" data-toggle="collapse" data-parent="#accordion" href="#collapse_Profile" aria-expanded="false" aria-controls="collapse_Profile">
                            <h3 class="text-uppercase">Profile</h3> </div>
                        <div id="collapse_Profile" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading_Profile">
                            <div class="panel-body afBody"> {{> quickForm collection="Meteor.users" doc=user id="profileUpdateForm" class="hideHeader" type="update" trimStrings="true" validation='keyup' fields='profile' }} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
-->
<template name="userStats">
    <div class="page lists-show">
        <div class="content-scrollable">
            <div class="row col-md-10 col-md-offset-1 mar2y">
                <h1>Team Stats</h1>
                 {{recordStats}} </div>
        </div>
    </div>
</template>
