<template name="appBody">
    <div id="container" class="container-fixed {{menuOpen}} {{cordova}}">
        <section id="menu">
<div class="mar1">
{{#if logo}}
<img src="/{{logo}}" style="width: 100%;">

{{/if}}

</div>


                
            {{#if currentUser}}


                {{#if agencyProfileInComplete}}
                    <div class="btns-group-vertical"> <a class="btn-pad btn-warning btn-secondary">Agency profile must be complete to begin adding records</a> </div>
                {{/if}} 

                {{#if agencyMapInComplete}}
                    <div class="btns-group-vertical"> <a class="btn-pad btn-warning btn-secondary">Agency Response Area must be complete to begin adding records</a> </div>
                {{/if}} 

                <div class="btns-group-vertical"> <a class="btn-pad btn-secondary strong primary-bg js-userProfile _userView" data='userProfile'>{{currentUser.username}}</a> 
                <a class="btn-pad js-logout btn-secondary">Logout</a> 
                </div>



                <div class="btns-group-vertical btns-userHome">
                    {{#if isAdmin}} 
                    <a href="{{pathFor 'admin'}}" class="btn-pad js-dashboard _userView btn-secondary {{isUserView 'admin'}}" data='admin'>Admin Tools</a> 
                    {{/if}}
                    

                    <a href="{{pathFor 'records'}}" class="btn-pad js-sharedRecords _userView btn-secondary records {{isUserView 'records'}}" data="records">Incident Records</a> 


                    

                </div>




                {{else}}
                <div class="btns-group"> <a href="{{pathFor 'signin'}}" class="btn-pad btn-secondary">Sign In</a> <a href="{{pathFor 'join'}}" class="btn-secondary btn-pad">Register</a> </div>
            {{/if}}
            <div class="list-todos">
                {{#each lists}}
                    <a href="{{pathFor 'form'}}" class="list-todo {{activeListClass}} {{isUserView}}" title="{{recordInfo.name}}"> <span class="count-list">{{recordInfo.status}}</span> {{recordInfo.name}} </a>
                {{/each}}
            </div>
        </section>
        {{#unless connected}}
            <div class="notifications">
                <div class="notification"> <span class="icon-sync"></span>
                    <div class="meta">
                        <div class="title-notification">Trying to connect</div>
                        <div class="description">There seems to be a connection issue</div>
                    </div>
                </div>
            </div>
        {{/unless}}
        <div class="content-overlay"></div>
        <div id="content-container">
            {{#each thisArray}} {{> yield}} {{/each}}
        </div>
    </div>
</template>
