<template name="signin">
    <div class="page auth">

        <div class="content-scrollable">
        
            <div class="wrapper-auth">
                <h3 class="white h1 white">Sign in</h3>
              
                <form>
                    {{#if errorMessages}}
                    <div class="list-errors">
                        {{#each errorMessages}}
                        <div class="list-item">{{this}}</div>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="input-symbol {{errorClass 'email'}}">
                        <input type="email" name="email" placeholder="Your Email" value="admin@sarcat.com" />
                        <span class="tmp icon-email" title="Your Email"></span>
                    </div>
                    <div class="input-symbol {{errorClass 'password'}}">
                        <input type="password" name="password" placeholder="Password" value="a" />
                        <span class="tmp icon-lock" title="Password"></span>
                    </div>
                    <button type="submit" class="btn-primary btn-pad">Sign in</button>
                </form>
            </div>
            <a href="{{pathFor 'join'}}" class="link-auth-alt">Need an account? Join Now.</a>

            {{#if production}}
  {{Meteor.settings.public.productionStripePublishableKey}}
{{else}}
  {{Meteor.settings.public.stagingStripePublishableKey}}
{{/if}}


        </div>














        
    </div>
</template>
