<template name="join">
    <div class="page auth">
        <div class="content-scrollable">
            <div class="pull-right">
                <img style="max-height:50px" id="agencyLogo" onerror='this.style.display = "none"'>
            </div>
            <div class="wrapper-auth">
                <h2 class="white h1 white mar0y">SARCAT</h2>
                <p class="white">Search & Rescue Incident Database</p>
                <h1 class="white h1 white">Register</h1>
                <form>
                    {{#if errorMessages}}
                    <div class="list-errors">
                        {{#each errorMessages}}
                        <div class="list-item">{{this}}</div>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="input-symbol  {{errorClass 'firstname'}}">
                        <input type="username" name="firstname" placeholder="First Name" />
                        <span class="customfa fa-user" title="First Name"></span>
                    </div>
                    <div class="input-symbol  {{errorClass 'lastname'}}">
                        <input type="username" name="lastname" placeholder="Last Name" />
                        <span class="customfa fa-user" title="FLast Name"></span>
                    </div>
                    <div class="mar0"></div>
                    <div class="input-symbol  {{errorClass 'email'}}">
                        <input type="email" name="email" placeholder="Email" />
                        <span class="tmp icon-email" title="Email"></span>
                    </div>
                    <div class="input-symbol  {{errorClass 'password'}}">
                        <input type="password" name="password" placeholder="Password" />
                        <span class="tmp icon-lock" title="Password"></span>
                    </div>
                    <div class="input-symbol {{errorClass 'confirm'}}">
                        <input type="password" name="confirm" placeholder="Confirm Password" />
                        <span class="tmp icon-lock" title="Confirm Password"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <span class="tmp icon-user-add" aria-hidden="true"></span>Join Now</button>
                </form>
            </div>
            <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
        </div>
    </div>
</template>
