<template name="form">
    <div id="formPage">
        <table class="recordRecordInfoTable table table-bordered mar00">
            <thead>
                <tr>
                    <th>Incident #</th>
                    <th>Mission #</th>
                    <th>Name</th>
                    <th>Incident Type</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="white-bg">
                {{#if editRecordInfo 'edit'}}
                    <tr class="text-left text-default">
                        <td> {{> quickForm collection='Records' validation="submit" doc=record class="hideSubmit hideLabel" id='zformdId1' autosave=true type='update' fields="recordInfo.incidentnum"}}</td>
                        <td> {{> quickForm collection='Records' validation="submit" doc=record class="hideSubmit hideLabel" id='zformdId2' autosave=true type='update' fields="recordInfo.missionnum"}}</td>
                        <td> {{> quickForm collection='Records' validation="submit" doc=record class="hideSubmit hideLabel" id='zformdId3' autosave=true type='update' fields="recordInfo.name"}}</td>
                        <td> {{> quickForm collection='Records' validation="submit" doc=record class="hideSubmit hideLabel" id='zformdId4' autosave=true type='update' fields="recordInfo.incidenttype"}}</td>
                        <td> {{> quickForm collection='Records' validation="submit" doc=record class="hideSubmit hideLabel" id='zformdId5' autosave=true type='update' fields="recordInfo.incidentdate"}}</td>
                        <td> {{> quickForm collection='Records' validation="submit" doc=record class="hideSubmit" template="plain" id='zformdId6' autosave=true type='update' fields="recordInfo.status"}}</td>

                    </tr>

                {{else}}
                    <tr class="text-left text-default">
                        <td>{{record.recordInfo.incidentnum}}</td>
                        <td>{{record.recordInfo.missionnum}}</td>
                        <td>{{record.recordInfo.name}}</td>
                        <td>{{record.recordInfo.incidenttype}}</td>
                        <td>{{record.recordInfo.incidentdate}}</td>
                        <td>{{record.recordInfo.status}}</td>

                    </tr>
                {{/if}}

            </tbody>
        </table>

        {{#if editRecordInfo 'edit'}}
            <button type="button" class="btn btn-success editRecordInfo pull-right mar0" data="list">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Done
            </button>
        {{else}}
            <button type="button" class="btn btn-warning editRecordInfo pull-right mar0" data="edit">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
            </button>
        {{/if}}

        <div class="text-center mar0">
            {{#each schemas}}
                <button type="button" data="{{this.field}}" class="formNav btn-default btn mar1yb pad0 {{this.klass}}">{{this.field}}
                    <br><small>{{this.sum}} </small></button>
            {{/each}}
        </div>
        <div class="panel panel-default" style="min-height:400px">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body">
                <div id="mapTools" class="panel" style="background:#E8E8E8">
                    <div class="mapBtns mapPoints">
                        <div class="col-md-4 pad00">
                            <div class="btn-group-vertical btn-group btn-block" data-toggle="buttons">
                                <button type="button" class="btn btn-danger {{activeLayer 'ippCoordinates'}}" data="ippCoordinates">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Incident Location/IPP
                                    <span class="fa-stack _pull-right">
                                          <i class="fa fa-times-circle-o fa-2x fa-fw text-danger"></i>
                                        </span>
                                </button>
                                <button type="button" class="btn btn-warning {{activeLayer 'decisionPointCoord'}}" data="decisionPointCoord">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Decision Point
                                    <span class="fa-stack _pull-right">
                                          <i class="fa fa-code-fork fa-2x fa-fw text-warning"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 pad00">
                            <div class="btn-group-vertical btn-vertical btn-block" data-toggle="buttons">
                                <button type="button" class="btn btn-primary {{activeLayer 'destinationCoord'}}" data="destinationCoord">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Intended Destination
                                    <span class="fa-stack _pull-right">
                                          <i class="fa fa-flag-checkered fa-2x fa-fw text-primary"></i>
                                        </span>
                                </button>
                                <button type="button" class="btn btn-primary {{activeLayer 'intendedRoute'}}" data="intendedRoute">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Intended Route
                                    <span class="fa-stack">
                                          <i class="fa fa-long-arrow-right fa-2x fa-fw text-primary"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 pad00">
                            <div class="btn-group-vertical btn-group btn-block" data-toggle="buttons">
                                <button type="button" class="btn  btn-success {{activeLayer 'findCoord'}}" data="findCoord">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Find Location
                                    <span class="fa-stack">
                                          <i class="fa fa-flag-checkered fa-2x fa-fw text-success"></i>
                                        </span>
                                </button>
                                <button type="button" class="btn btn-success {{activeLayer 'actualRoute'}}" data="actualRoute">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Actual Route
                                    <span class="fa-stack">
                                          <i class="fa fa-long-arrow-right fa-2x fa-fw text-success"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='formMap' class="mar1y"></div>
                {{#autoForm collection='Records' doc=record id='_formIdMap' template="plain" class="_recordForm4 form-inline hideSubmit _hideHeader" template="plain" type=formType autosave=true template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" }}
                    <div class="col-md-6" style="font-size: .8em;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Incident Location/IPP</h3>
                            </div>
                            <div class="panel-body">
                                <div class="mar1y">
                                    <span class="text-uppercase strong text-default">Initial Planning Point</span>
                                </div>
                                {{> afQuickField name="coords.ippCoordinates.lat"}} {{> afQuickField name="coords.ippCoordinates.lng"}} {{> afQuickField name="incidentOperations.ipptype" options="allowed"}} {{> afQuickField name="incidentOperations.ippclassification" options="allowed"}}
                                <hr>
                                <div class="mar1y">
                                    <span class="text-uppercase strong text-default">Initial Direction of Travel</span>
                                    <span class="small"><em> - Drag arrow towards initial direction of travel</em></span>
                                </div>
                                {{> afQuickField name="incidentOperations.initialDirectionofTravel_Boolean"}}

                                {{#if afFieldValueIs name="incidentOperations.initialDirectionofTravel_Boolean" value="Yes" }}

                                    {{> afQuickField class="hide hideLabel" name="incidentOperations.initialDirectionofTravel"}}
                                    <div class="form-group mar2x">
                                        <img src="/images/compass.png" class="travelDirection ">
                                    </div>
                                    {{> afQuickField name='incidentOperations.DOTHowdetermined' options="allowed"}} {{/if}}
                                <hr>
                                <div class="mar1y">
                                    <span class="text-uppercase strong text-default">Last Known Point/Point Last Seen</span>
                                </div>
                                {{> afQuickField name="incidentOutcome.lkp_pls_Boolean"}}
                                {{#if afFieldValueIs name="incidentOutcome.lkp_pls_Boolean" value="Yes" }}
                                    <br> {{> afQuickField name="coords.revisedLKP_PLS.lat"}} {{> afQuickField name="coords.revisedLKP_PLS.lng"}}
                                    <button type="button" class="btn btn-danger" data="revisedLKP_PLS" style="display:block">
                                        <input type="checkbox" autocomplete="off" class="hide"> &nbsp; Revised LKP/PLS
                                        <span class="fa-stack _pull-right">
                                          <i class="fa fa-male fa-2x fa-fw white"></i>
                                        </span>
                                    </button>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="font-size: .8em;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Spatial Data</h3>
                            </div>
                            <div class="panel-body">
                                <div class="{{hideCoord 'decisionPointCoord'}}">
                                    <div class="mar1y">
                                        <span class="text-uppercase strong text-default">Decision Point</span>
                                    </div>
                                    {{> afQuickField name="coords.decisionPointCoord.lat"}} {{> afQuickField name="coords.decisionPointCoord.lng"}} {{> afQuickField name="incidentOperations.typeofDecisionPoint" options="allowed"}}
                                    <br> {{> afQuickField name="incidentOperations.decisionPointFactor"}}
                                </div>
                                <hr>
                                <div class="{{hideCoord 'destinationCoord'}}">
                                    <div class="mar1y">
                                        <span class="text-uppercase strong text-default">Intended Destination</span>
                                    </div>
                                    {{> afQuickField name="coords.destinationCoord.lat"}} {{> afQuickField name="coords.destinationCoord.lng"}}
                                    <hr>
                                </div>
                                <div class="{{hideCoord 'findCoord'}}">
                                    <div class="mar1y">
                                        <span class="text-uppercase strong text-default">Find Location</span>
                                    </div>
                                    {{> afQuickField name="coords.findCoord.lat"}} {{> afQuickField name="coords.findCoord.lng"}}
                                    <hr> {{> afQuickField name="incidentOutcome.distanceIPP"}} {{> afQuickField name="incidentOutcome.dispersionAngle"}} {{> afQuickField name="incidentOutcome.findBearing"}} {{> afQuickField name="incidentOutcome.trackOffset"}} {{> afQuickField name="incidentOutcome.elevationChange"}}
                                    <button type="button" class="btn btn-primary" id="mapCalcBtn" style="display:block">
                                        <span class="glyphicon glyphicon-calculator" aria-hidden="true"></span> Calculate Measurements
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide">
                        {{> afQuickField name='coords.intendedRoute' }} {{> afQuickField name='coords.actualRoute' }}
                    </div>
                {{/autoForm}}
            </div>
        </div>
        <!--END MAP-->

        {{> quickForm collection='Records' validation="submit" doc=current class="recordForm3 _form-inline hideSubmit" id='formdIdIncident' autosave=true type=formType fields="incident" validation="none" resetOnSuccess=false}}

        <div class="panel panel-default _text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Weather</h3>
            </div>
            <div class="panel-body">
                {{#if config.forecastAPI}}
                    <button type="button" class="btn btn-primary mar0y" id="weatherBtn">
                        <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Download Via Web
                    </button>
                    <span class="forecastio small em mar0y text-default">*Powered by <a class="em" href="http://forecast.io/">Forecast</a> based on Incident Date & Location</span> {{/if}}
                {{#autoForm collection='Records' doc=record id='_formIdWeather' class="hideHeader recordForm3" type=formType autosave=true}} {{> afQuickField name="weather" options=this.options }} {{/autoForm}}
            </div>
        </div>
        {{> quickForm collection='Records' validation="submit" doc=current class="recordForm3 _form-inline hideSubmit" id='formdId' autosave=true type=formType fields="incidentOutcome" buttonContent= "Save" omitFields="incidentOutcome.distanceIPP, incidentOutcome.dispersionAngle, incidentOutcome.findBearing, incidentOutcome.trackOffset,incidentOutcome.elevationChange,incidentOutcome.lkp_pls_Boolean"}}

        <div class="panel panel-default _text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Rescue Details</h3>
            </div>
            <div class="panel-body">
                {{#autoForm collection='Records' validation="submit" doc=current id='formdId' autosave=true type=formType fields="rescueDetails" buttonContent="Save" }}

                    {{> afQuickField name="rescueDetails.signalling" options="allowed"}} {{> afQuickField name="rescueDetails.injuredSearcher" options="allowed"}}
                    {{#if afFieldValueIs name="rescueDetails.injuredSearcher" value="Yes" }}
                        {{> afQuickField name="rescueDetails.injuredSearcherDetails"}}
                    {{/if}}

                {{/autoForm}}
            </div>
        </div>

        <!--Subject Info-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Subject Info
<div class="subjectTableView btn-group pull-right" data-toggle="buttons">
   <label class="btn btn-primary active">
    <input type="radio" data="Description" name="subjectTableRadio" autocomplete="off"> Description
  </label>

   <label class="btn btn-primary">
    <input type="radio" data="Rescue" name="subjectTableRadio" autocomplete="off"> Rescue
  </label>

   <label class="btn btn-primary">
    <input type="radio" data="Personal" name="subjectTableRadio" autocomplete="off"> Personal 
    <i class="glyphicon glyphicon-lock"></i>
  </label>
</div>
</h3>
            </div>
            <div class="panel-body afBody pad00" style="overflow-x: scroll;">
                {{#autoForm id="editSubjectForm" type="update" collection='Records' autosave=true doc=current setArrayItems=true class="pad00 col-md-12 hideLabel hideHeader" }}
                    <table class="mar1yb table table-bordered table-condensed {{subjectTableView 'Description'}}" style="table-layout: fixed;">
                        <thead class='default-bg'>
                            <tr>
                                {{#each subjectKeysDesc}}
                                    <th data-subjectTable="{{this}}" class='text-center afTable col-md-1 text-capitalize' style="padding: 5px 0; font-size: .7em;">{{this}}</th>
                                {{/each}}
                                <th class='afTable col-md-1' style="font-size: .8em;width:'9.09%'">Remove Subject</th>
                            </tr>
                        </thead>
                        <tbody class='white-bg'>
                            {{#each getSubjectsArrayDesc}}
                                <tr class="_noBorder">
                                    {{#each this.value}}
                                        <td class="pad00 _noBorder">
                                            {{> afQuickField name=this.name options=this.options }}
                                        </td>
                                    {{/each}}
                                    <td class="padsm">
                                        <button data="{{this._key}}" type="button" class="pull-right btn btn-warning btn-sm _glyphicon _glyphicon-remove removeSubject btn-block btn-sm">Remove</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <table class="mar1yb table _table-bordered table-condensed {{subjectTableView 'Rescue'}}" style="table-layout: fixed;">
                        <thead class='default-bg'>
                            <tr>
                                {{#each subjectKeysRescue}}
                                    <th data-subjectTable="{{this}}" class='text-center afTable col-md-1 text-capitalize' style="padding: 5px 0; font-size: .7em;">{{this}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody class='white-bg'>
                            {{#each getSubjectsArrayRescue}}
                                <tr class="subjectRescueRow" data-index="{{this.index}}">
                                    {{#each this.value}}
                                        <td class="pad00">
                                            {{> afQuickField name=this.name options=this.options }}
                                        </td>
                                    {{/each}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <table class="mar1yb table _table-bordered table-condensed {{subjectTableView 'Personal'}}" style="table-layout: fixed;">
                        <thead class='default-bg'>
                            <tr>
                                {{#each subjectKeysPersonal}}
                                    <th data-subjectTable="{{this}}" class='text-center afTable col-md-1 text-capitalize' style="padding: 5px 0; font-size: .7em;">{{this}}</th>
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody class='white-bg'>
                            {{#each getSubjectsArrayPersonal}}
                                <tr>
                                    {{#each this.value}}
                                        <td class="pad00">
                                            {{> afQuickField name=this.name options=this.options }}
                                        </td>
                                    {{/each}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/autoForm}}
                <button type="submit" class="newSubject btn btn-primary mar0">New Subject</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Resources Used
                    </h3>
            </div>
            <div class="panel-body afBody pad00" style="overflow-x: scroll;">
                {{#autoForm id="editSubjectForm2" type="update" collection='Records' autosave=true doc=current setArrayItems=true class="pad00 col-md-12 hideLabel hideHeader" }}
                    <table class="mar1yb table table-bordered table-condensed" style="table-layout: fixed;">
                        <thead class='default-bg'>
                            <tr>
                                {{#each resourceKeys}}
                                    <th class='text-center afTable col-md-1 text-capitalize' style="padding: 5px 0; font-size: .7em;">{{this}}</th>
                                {{/each}}
                                <th class='afTable col-md-1' style="font-size: .8em;width:'9.09%'">Remove Resource</th>
                            </tr>
                        </thead>
                        <tbody class='white-bg'>
                            {{#each getResourceArray2}}
                                <tr class="_noBorder">
                                    {{#each this.value}}
                                        <td class="pad00 _noBorder">
                                            {{> afQuickField name=this.name options=this.options }}
                                        </td>
                                    {{/each}}
                                    <td class="padsm">
                                        <button data="{{this._key}}" type="button" class="pull-right btn btn-warning btn-sm _glyphicon _glyphicon-remove removeResource btn-block btn-sm">Remove</button>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                {{/autoForm}}
                <button type="submit" class="newResource btn btn-primary mar0">New Resource</button>
                <div class="col-md-12">
                    <hr> {{> quickForm collection='Records' validation="submit" doc=current class="hideSubmit hideHeader recordForm2" id='formdId' autosave=true type=formType fields="resourcesUsed.numTasks,resourcesUsed.totalPersonnel,resourcesUsed.totalManHours,resourcesUsed.distanceTraveled,resourcesUsed.totalCost"}}
                </div>
            </div>
        </div>

        {{> quickForm collection='Records' validation="submit" doc=current class="recordForm0 _form-inline hideSubmit" id='formdId' autosave=true type=formType fields="xComments" buttonContent= "Save" resetOnSuccess='false' }}



{{#with record}}



{{#if customQuestions}}
        <div class="panel panel-default _text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Custom Questions</h3>
            </div>
            <div class="panel-body">
                {{#autoForm collection='Records' validation="submit" doc=this id='formdId' autosave=true type=formType resetOnSuccess='false' }}
                    {{#if customQuestions.q1}} 

                     {{> afFormGroup name="customQuestions.a1" label=customQuestions.q1}}{{/if}}
                   

                    {{#if customQuestions.q2}} {{> afFormGroup name="customQuestions.a2" label=customQuestions.q2}}{{/if}}
                   

                    {{#if customQuestions.q3}} {{> afFormGroup name="customQuestions.q3" label=customQuestions.q3}}{{/if}}
                    
                {{/autoForm}}
            </div>
        </div>
{{/if}}


{{/with}}


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Record Files</h3>
            </div>
            <div class="panel-body afBody">
                <div class="list-group">
                    {{#if fileUploads.length}}
                        <label class="control-label">Click File to View:</label>
                    {{/if}}
                    {{#each fileUploads}}
                        <a class="list-group-item fileUpload" data="{{this}}">{{this}}</a> {{/each}}
                </div>
                <label class="control-label">Upload Files</label>
                {{> upload_bootstrap formData=record multiple=true}} </div>
        </div>
        <div class="col-md-12 mar1y">
            <a href="{{pathFor 'records'}}" class="btn btn-primary btn-lg btn-block">
                <i class="glyphicon glyphicon-check"></i> Done
            </a>
        </div>
    </div>
</template>

