<template name="records">
    <div class="modal fade" id="createRecordModal" tabindex="91" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title" id="myModalLabel">New Record</h4> </div>
                <div class="modal-body">
                    <div class="col-md-12 text-left">
                        <p class="small"><em>*Drag Icon to Incident Location/IPP or enter coordinates below</em></p>
                    </div>
                    <div id='recordMap' style="width:100%;height:400px"></div>
                    {{#autoForm id="createRecordModalFormId" type="insert" collection="Records" validation="submit" resetOnSuccess=true}} {{> afQuickField name='coords.ippCoordinates' }} {{> afQuickField name='recordInfo'}}
                        <div class="form-group modal-footer">
                            <button type="reset" class="btn btn-default pull-left">Reset Form</button>
                            <button data-dismiss="modal" class="btn btn-default pull-left">Cancel</button>
                            <button id="saveNewRecord" type="submit" class="btn btn-primary">Add Record</button>
                        </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs navyBLue-bg">
        {{#if isAdmin}}
            {{#if createNewBtn}}
                <a type="button" class="btn btn-primary mar0" data-target="#createRecordModal" data-toggle="modal">
                    <i class="glyphicon glyphicon-plus"></i> New Record
                </a>
            {{/if}}
            {{#if selectedRecords}}
                <button type="button" class="btn btn-default deleteRecord mar0">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            {{/if}}
        {{/if}}
        <div id="toolbar" class="btn-group pull-right mar0y">

            {{#if selectedRecords}}
                <a id="downloadRecords" type="button" class="btn btn-default">
                    <i class="glyphicon glyphicon-save-file"></i> Download
                </a>
                {{#if isAdmin}}
                    <a type="button" class="btn btn-default" style="margin-y=-12px">
                Export to<i class="glyphicon"><img src="images/isridSmall.png" height="22px" style="margin-top: -5px;margin-left: 5px;"></i>
            </a> {{/if}}
            {{/if}}
            <button type="button" id="viewMap" class="btn btn-default" data-toggle="button">
                <i class="glyphicon glyphicon-globe"></i> Map
            </button>

        </div>
    </ul>
    <div class="tab-content admin pad1">

        {{#if recordMap}}
            <div class=" col-md-12 default-bg pad2 mar2y">
                <div id='recordsMap' style="width:100%;height:600px">

                </div>

                <div class="_recordMapInfo flex-container pad0 small white-bg">
                    {{#each stats}}
                        <div class="flex-item col-md-4 default-border pad0x noBorder">

                            <div class="_panel panel-default ">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">{{this.field}}</h3>
                                </div>
                                <div class="panel-body afBody _pad0">

                                    <dl class="dl-horizontal text-default white-bg">
                                        {{#each this.data}}
                                            <dt class="strong">{{this.key}}</dt>
                                            <dd>{{this.val}}</dd>
                                        {{/each}}
                                    </dl>

                                </div>
                            </div>

                        </div>

                    {{/each}}
                </div>
            </div>
        {{/if}}

        {{> reactiveTable settings=settings}}
    </div>
</template>

