<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SARCAT</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="download.html">Download</a></li>
                    <li><a href="hosting.html">Plans</a></li>
                    <li><a href="docs.html">Docs</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="demo.html" id="demoApp">Demo</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li>
                        <a href="https://twitter.com/sarcat">Twitter
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>-->
                    <li>
                        <a href="https://github.com/Azimuth1/SARCAT" target="_blank">Github
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>
</html>