<template name="adminSetup">
    <div class="page auth">

        <div class="content-scrollable">
        
            <div class="wrapper-auth">
                         <div class="title-auth">
                    <p class="acr"><b>s</b>earch<b>a</b>nd<b>r</b>escue<b>c</b>ollection &<b>a</b>nalysis<b>t</b>ool</p>
                </div>
                        {{#if currentUser}}
                        <p class="white em"> Create a new admin account! </p>
                        <form>
                            {{#if errorMessages}}
                            <div class="list-errors">
                                {{#each errorMessages}}
                                <div class="list-item">{{this}}</div>
                                {{/each}}
                            </div>
                            {{/if}}
                            <div class="input-symbol  {{errorClass 'firstname'}}">
                                <input type="username" name="firstname" placeholder="First Name" /> <span class="customfa fa-user" title="First Name"></span> </div>
                            <div class="input-symbol  {{errorClass 'lastname'}}">
                                <input type="username" name="lastname" placeholder="Last Name" /> <span class="customfa fa-user" title="FLast Name"></span> </div>
                            <div class="mar0"></div>
                            <div class="input-symbol  {{errorClass 'email'}}">
                                <input type="email" name="email" placeholder="Email" /> <span class="tmp icon-email" title="Email"></span> </div>
                            <div class="input-symbol  {{errorClass 'password'}}">
                                <input type="password" name="password" placeholder="Password" /> <span class="tmp icon-lock" title="Password"></span> </div>
                            <div class="input-symbol {{errorClass 'confirm'}}">
                                <input type="password" name="confirm" placeholder="Confirm Password" /> <span class="tmp icon-lock" title="Confirm Password"></span> </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block"> <span class="tmp icon-user-add" aria-hidden="true"></span>Create Account</button>
                        </form> {{else}}
                        <p class="white em"> Please login with default admin account </p>
                        <form>
                            {{#if errorMessages}}
                            <div class="list-errors">
                                {{#each errorMessages}}
                                <div class="list-item">{{this}}</div>
                                {{/each}}
                            </div>
                            {{/if}}
                            <div class="input-symbol {{errorClass 'email'}}">
                                <input type="email" name="email" placeholder="Email"/> <span class="tmp icon-email" title="Email"></span> </div>
                            <div class="input-symbol {{errorClass 'password'}}">
                                <input type="password" name="password" placeholder="Password"/> <span class="tmp icon-lock" title="Password"></span> </div>
                            <button type="submit" class="btn-primary admin1 btn-pad">Sign in</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>

</template>
