<template name="join">
    <div class="page auth">
        <nav>
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="tmp-icon-list-unordered"></span></a>
            </div>
        </nav>
        <div class="content-scrollable">
            {{#if logoSrc}}
            <div class="text-center agencyLogo">
                <img src="{{logoSrc}}" onerror='this.style.display = "none"'>
            </div>
            {{/if}}
            <div class="wrapper-auth">
                <div class="title-auth">
                    <!-- <h2 class="h1 mar00">SARCAT</h2>-->
                    <p class="acr"><b>s</b>earch<b>a</b>nd<b>r</b>escue<b>c</b>ollection &<b>a</b>nalysis<b>t</b>ool</p>
                </div>

                <form>
                    {{#if errorMessages}}
                    <div class="list-errors">
                        {{#each errorMessages}}
                        <div class="list-item">{{this}}</div>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="input-symbol  {{errorClass 'firstname'}}">
                        <input type="username" name="firstname" placeholder="First Name" />
                        <span class="customfa fa-user" title="First Name"></span>
                    </div>
                    <div class="input-symbol  {{errorClass 'lastname'}}">
                        <input type="username" name="lastname" placeholder="Last Name" />
                        <span class="customfa fa-user" title="FLast Name"></span>
                    </div>
                    <div class="mar0"></div>
                    <div class="input-symbol  {{errorClass 'email'}}">
                        <input type="email" name="email" placeholder="Email" />
                        <span class="tmp-icon-email" title="Email"></span>
                    </div>
                    <div class="input-symbol  {{errorClass 'password'}}">
                        <input type="password" name="password" placeholder="Password" />
                        <span class="tmp-icon-lock" title="Password"></span>
                    </div>
                    <div class="input-symbol {{errorClass 'confirm'}}">
                        <input type="password" name="confirm" placeholder="Confirm Password" />
                        <span class="tmp-icon-lock" title="Confirm Password"></span>
                    </div>
                    <button type="submit" class="btn-primary btn-pad">
                        <span class="tmp-icon-user-add" aria-hidden="true"></span>Join Now</button>
                    <a href="{{pathFor 'signin'}}" class="link-auth-alt">Have an account? Sign in</a>
                </form>
            </div>
        </div>
    </div>
</template>
