<template name="knobknob">
    <div class="travelDir form-group mar2x knob">
    </div>
</template>
<template name="form">
    <nav class="contentNav hidden-print">
        <div class="container-fluid text-center">
            {{#each schemas}}
            <button class="btn btn-default btn-sm {{this.klass}}" type="submit">{{this.field}}
                <br>{{this.sum}}</button>
            {{/each}}
        </div>
    </nav>
    <div class="tab-content content-scrollable pad2" style="top:72px;">
        <div class="text-right em text-orange white">* Auto-save enabled for all fields</div>
        <div class="panel panel-default" style="min-height:400px">
            <div class="panel-heading">
                <h3 class="panel-title">Incident Map</h3>
                <span class="small h4"> Click buttons below to begin adding points of interest</span>
            </div>
            <div class="panel-body">
                <div id="mapTools" class="panel" style="background:#E8E8E8">
                    <div class="mapBtns mapPoints">
                        <div class="col-md-4 pad00">
                            <div class="btn-group-vertical btn-group btn-block" data-toggle="buttons">
                                <button type="button" class="btn btn-danger active" data="ippCoordinates">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Incident Location/IPP
                                    <span class="fa-stack _pull-right">
                                          <i class="fa fa-times-circle-o fa-2x fa-fw text-danger"></i>
                                        </span>
                                </button>
                                <button type="button" class="btn btn-warning {{activeLayer 'decisionPointCoord'}}" data="decisionPointCoord">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Decision Point
                                    <span class="fa-stack _pull-right">
                                          <i class="fa fa-code-fork fa-2x fa-fw text-warning"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 pad00">
                            <div class="btn-group-vertical btn-vertical btn-block" data-toggle="buttons">
                                <button type="button" class="btn btn-primary {{activeLayer 'destinationCoord'}}" data="destinationCoord">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Intended Destination
                                    <span class="fa-stack ">
                                          <i class="fa fa-flag-checkered fa-2x fa-fw text-blue"></i>
                                        </span>
                                </button>
                                <button type="button" class="btn btn-primary {{activeLayer 'intendedRoute'}}" data="intendedRoute">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Intended Route
                                    <span class="fa-stack">
                                          <i class="fa fa-long-arrow-right fa-2x fa-fw text-blue"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-4 pad00">
                            <div class="btn-group-vertical btn-group btn-block" data-toggle="buttons">
                                <button type="button" class="btn  btn-success {{activeLayer 'findCoord'}}" data="findCoord">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Find Location
                                    <span class="fa-stack">
                                          <i class="fa fa-flag-checkered fa-2x fa-fw text-success"></i>
                                        </span>
                                </button>
                                <button type="button" class="btn btn-success {{activeLayer 'actualRoute'}}" data="actualRoute">
                                    <input type="checkbox" autocomplete="off"> &nbsp; Actual Route
                                    <span class="fa-stack">
                                          <i class="fa fa-long-arrow-right fa-2x fa-fw text-success"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='formMap' class="mar1y"></div>
                {{#autoForm collection='Records' doc=current id='formIdMap' template="plain" class="_recordForm4 form-inline hideSubmit _hideHeader" template="plain" type=formType autosave=true template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" }}
                <div class="col-md-6" style="font-size: .8em;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Incident Location/IPP</h3>
                        </div>
                        <div class="panel-body">
                            <div class="mar1y">
                                <span class="text-uppercase strong text-default">Initial Planning Point</span>
                            </div>
                            {{> afQuickField name="coords.ippCoordinates.lat"}}
                            <!---->
                            {{> afQuickField name="coords.ippCoordinates.lng"}}
                            <!---->
                            {{> afQuickField name="incidentOperations.ipptype" options="allowed"}}
                            <!---->
                            {{> afQuickField name="incidentOperations.ippclassification" options="allowed"}}
                            <hr>
                            <div class="mar1y">
                                <span class="text-uppercase strong text-default">Initial Direction of Travel</span>
                            </div>
                            {{> afQuickField name="incidentOperations.initialDirectionofTravel_Boolean"}}
                            <!--{{#if afFieldValueIs name="incidentOperations.initialDirectionofTravel_Boolean" value="Yes" }}-->
                            <div class="{{initialDirectionofTravelClass}}">
                                <div class="small"><em>Rotate arrow clockwise towards direction of initial direction of travel</em>
                                </div>
                                <div class="text-default mar0y"><span class="knobVal"></span> degrees</div>
                                <div class="travelDir form-group mar2x knob"></div>
                                {{> afQuickField class="hide hideLabel" name="incidentOperations.initialDirectionofTravel"}} {{> afQuickField name='incidentOperations.DOTHowdetermined' options="allowed"}}
                            </div>
                            <hr>
                            <div class="mar1y">
                                <span class="text-uppercase strong text-default">Revised Last Known Point/Point Last Seen</span>
                            </div>
                            {{> afQuickField name="incidentOperations.lkp_pls_Boolean"}}
                            <!---->
                            {{#if afFieldValueIs name="incidentOperations.lkp_pls_Boolean" value="Yes" }}
                            <!---->
                            <br>
                            <!---->
                            {{> afQuickField name="coords.revisedLKP_PLS.lat"}}
                            <!---->
                            {{> afQuickField name="coords.revisedLKP_PLS.lng"}}
                            <button type="button" class="btn btn-danger text-black" data="revisedLKP_PLS" style="display:block">
                                <input type="checkbox" autocomplete="off" class="hide"> &nbsp; Revised LKP/PLS
                                <span class="fa-stack _pull-right">
                                          <i class="fa fa-times-circle-o fa-2x fa-fw text-black"></i>
                                        </span>
                            </button>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="font-size: .8em;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Coordinates</h3>
                        </div>
                        <div class="panel-body">
                            <div class="{{hideCoord 'decisionPointCoord'}}">
                                <div class="mar1y">
                                    <span class="text-uppercase strong text-default">Decision Point</span>
                                </div>
                                {{> afQuickField name="coords.decisionPointCoord.lat"}}
                                <!---->
                                {{> afQuickField name="coords.decisionPointCoord.lng"}}
                                <div class="{{hideCoord 'decisionPointCoord'}}">
                                    {{> afQuickField name="incidentOperations.typeofDecisionPoint" options="allowed"}}
                                    <br>
                                    <!---->
                                    {{> afQuickField name="incidentOperations.decisionPointFactor"}}
                                </div>
                            </div>
                            <hr>
                            <div class="{{hideCoord 'destinationCoord'}}">
                                <div class="mar1y">
                                    <span class="text-uppercase strong text-default">Intended Destination</span>
                                </div>
                                {{> afQuickField name="coords.destinationCoord.lat"}}
                                <!---->
                                {{> afQuickField name="coords.destinationCoord.lng"}}
                                <hr>
                            </div>
                            <div class="{{hideCoord 'findCoord'}}">
                                <div class="mar1y">
                                    <span class="text-uppercase strong text-default">Find Location</span>
                                </div>
                                {{> afQuickField name="coords.findCoord.lat"}}
                                <!---->
                                {{> afQuickField name="coords.findCoord.lng"}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide">
                    {{> afQuickField name='coords.intendedRoute' }}
                    <!---->
                    {{> afQuickField name='coords.actualRoute' }}
                </div>
                {{/autoForm}}
            </div>
        </div>
        <!--END MAP-->
        <!--Record Info-->
        {{> quickForm collection='Records' validation="submit" doc=current class="recordForm2 hideSubmit" id='formdIdRecordInfo' autosave=true type=formType fields="recordInfo" resetOnSuccess=false}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Incident Location/Details
                    </h3>
            </div>
            <div class="panel-body">
                <!--Incident Location-->
                {{#autoForm collection='Records' validation="submit" doc=current class="recordForm3 _form-inline hideSubmit" id='formdIdIncident' autosave=true type=formType fields="incidentLocation" resetOnSuccess=false }}
                <!---->
                {{> afQuickField name="incidentLocation.country" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.state-province" options=allowedStates}}
                <!---->
                {{> afQuickField name="incidentLocation.county-region"}}
                <!---->
                {{> afQuickField name="incidentLocation.landOwner" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.ecoregionDomain" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.ecoregionDivision" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.populationDensity" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.terrain" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.landCover" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.contactmethod" options="allowed"}}
                <!---->
                {{> afQuickField name="incidentLocation.leadagency"}}
                <!---->
                {{/autoForm}}
            </div>
        </div>
        <!--/Incident Location-->
        <!--Timelog-->
        {{> quickForm collection='Records' validation="submit" doc=current class="recordForm2 hideSubmit" id='formdIdtimeLog' autosave=true type=formType fields="timeLog" resetOnSuccess=false}}
        <!--Subject Info-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Subject Info</h3>
            </div>
            <div class="subjectTableView btn-group mar1yb" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" data="Description" name="subjectTableRadio" autocomplete="off"> Description
                </label>
                <label class="btn btn-primary">
                    <input type="radio" data="Rescue" name="subjectTableRadio" autocomplete="off"> Outcome
                </label>
                <label class="btn btn-primary">
                    <input type="radio" data="Personal" name="subjectTableRadio" autocomplete="off"> Personal
                    <i class="glyphicon glyphicon-lock"></i>
                </label>
            </div>
            <div class="panel-body afBody pad00" style="overflow-x: scroll;">
                {{#autoForm id="editSubjectForm" type="update" collection='Records' autosave=true doc=current setArrayItems=true class="pad00 col-md-12 hideLabel hideHeader" }}
                <table class="table table-bordered table-condensed {{subjectTableView 'Description'}}" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            {{#each subjectKeysDesc}}
                            <th data-subjectTable="{{this}}" class='text-capitalize'>{{this}}</th>
                            {{/each}}
                            <th style="font-size: .8em;width:'9.09%'">Remove Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each getSubjectsArrayDesc}}
                        <tr>
                            {{#each this.value}}
                            <td class="pad00">
                                {{> afQuickField name=this.name options=this.options }}
                            </td>
                            {{/each}}
                            <td>
                                {{#if isInRole 'admin,editor'}}
                                <button data="{{this._key}}" type="button" class="btn btn-warning btn-sm _glyphicon _glyphicon-remove removeSubject btn-block btn-sm">Remove</button>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <table class="table table-bordered table-condensed {{subjectTableView 'Rescue'}}" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            {{#each subjectKeysRescue}}
                            <th data-subjectTable="{{this}}" class='text-capitalize'>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each getSubjectsArrayRescue}}
                        <tr class="subjectRescueRow" data-index="{{this.index}}">
                            {{#each this.value}}
                            <td class="pad00">
                                {{> afQuickField name=this.name options=this.options }}
                            </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <table class="table table-bordered table-condensed {{subjectTableView 'Personal'}}" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            {{#each subjectKeysPersonal}}
                            <th data-subjectTable="{{this}}" class='text-capitalize'>{{this}}</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody>
                        {{#each getSubjectsArrayPersonal}}
                        <tr>
                            {{#each this.value}}
                            <td class="pad00">
                                {{> afQuickField name=this.name options=this.options }}
                            </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/autoForm}} {{#if isInRole 'admin,editor'}}
                <button type="submit" class="newSubject btn btn-primary mar0">New Subject</button>
                {{/if}}
            </div>
        </div>
        <!--/Subject Info-->
        <!--Weather-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Weather</h3>
            </div>
            <!---->
            {{#if config.internet}}
            <!---->
            {{#if current.timeLog.lastSeenDateTime}}
            <hr class="mar0 mar2x">
            <button type="button" class="btn btn-primary mar0 mar2x" id="weatherBtn">
                <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Download Via SARCAT Server
            </button>
            <span class="forecastio small em mar0y white">*Powered by <a class="em text-lightBlue" href="http://forecast.io/">Forecast</a> based on Incident Date & Last Seen Location</span>
            <!---->
            {{else}}
            <span class="forecastio small em mar0y white"> *Add Incident Last Seen Date/Time to auto-calculate</span> {{/if}}
            <!---->
            {{/if}}
            <div class="panel-body pad00">
                <!---->
                {{#autoForm collection='Records' doc=current id='_formIdWeather' class="hideHeader recordForm3" type=formType autosave=true}}
                <!---->
                {{> afQuickField name="weather" options=this.options }}
                <!---->
                {{/autoForm}}
                <!---->
            </div>
        </div>
        <!--/Weather-->
        <!--Find Location-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Find Location</h3>
            </div>
            {{#unless showFindLocation}}
            <span class="small em mar0y white"> *Drop Find Location Point to activate fields</span> {{/unless}}
            <!---->
            <!---->
            {{#if showFindLocation}}
            <hr class="mar0 mar2x">
            <button type="button" class="btn btn-primary mar0 mar2x" id="mapCalcBtn" style="display:block">
                <span class="glyphicon glyphicon-calculator" aria-hidden="true"></span> Calculate Measurements
            </button>
            <!---->
            {{/if}}
            <div class="panel-body pad00">
                {{#autoForm collection='Records' validation="submit" doc=current class="hideHeader recordForm3" id='formdIdIncident' autosave=true type=disableFindLocationForm fields="findLocation" resetOnSuccess=false}}
                <!---->
                {{> afQuickField name="findLocation" options=this.options }}
                <!---->
                {{/autoForm}}
            </div>
        </div>
        <!--/Find Location-->
        <!--Resources Use-->
        {{> quickForm collection='Records' validation="submit" doc=current class="recordForm3 _form-inline hideSubmit" id='formdIdincidentOutcome' autosave=true type=formType fields="incidentOutcome" buttonContent= "Save" }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Resources Used
                    </h3>
            </div>
            <div class="panel-body afBody pad00" style="overflow-x: scroll;">
                <div id="addResources" class="small col-md-12"></div>
                {{#autoForm id="editSubjectForm2" type="update" collection='Records' autosave=true doc=current setArrayItems=true class="pad00 col-md-12 hideLabel hideHeader" }}
                <table class="mar1yb table table-bordered table-condensed" style="table-layout: fixed;">
                    <thead class='lightBlue-bg'>
                        <tr>
                            {{#each resourceKeys}}
                            <th class='text-center afTable col-md-1 text-capitalize' style="padding: 5px 0;">{{this}}</th>
                            {{/each}}
                            <!--<th class='afTable col-md-1' style="font-size: .8em;width:'9.09%'">Remove Resource</th>-->
                        </tr>
                    </thead>
                    <tbody class='white-bg'>
                        {{#each getResourceArray2}}
                        <tr class="_noBorder">
                            {{#each this.value}}
                            <td class="pad00 _noBorder">
                                {{> afQuickField name=this.name options=this.options }}
                            </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/autoForm}} {{#if isInRole 'admin,editor'}} {{/if}}
                <div class="col-md-12">
                    <hr> {{> quickForm collection='Records' validation="submit" doc=current class="hideSubmit hideHeader recordForm2" id='formdIdResources' autosave=true type=formType fields="resourcesUsed.numTasks,resourcesUsed.totalPersonnel,resourcesUsed.totalManHours,resourcesUsed.distanceTraveled,resourcesUsed.totalCost"}}
                </div>
            </div>
        </div>
        <!--/Resources Use-->
        <!--Comment-->
        {{> quickForm collection='Records' validation="submit" doc=current class="recordForm0 _form-inline hideSubmit" id='formdId' autosave=true type=formType fields="xComments" buttonContent= "Save" resetOnSuccess='false' }}
        <!--Comment-->
        <!--Custom Questions-->
        {{#with record}} {{#if customQuestions_}}
        <div class="panel panel-default _text-center">
            <div class="panel-heading">
                <h3 class="panel-title">Custom Questions</h3>
            </div>
            <div class="panel-body">
                {{#autoForm collection='Records' validation="submit" doc=this id='formdId' autosave=true type=formType resetOnSuccess='false' }}
                <!---->
                {{#if customQuestions.q1}}
                <!---->
                {{> afFormGroup name="customQuestions.a1" label=customQuestions.q1}}
                <!---->
                {{/if}}
                <!---->
                {{#if customQuestions.q2}}
                <!---->
                {{> afFormGroup name="customQuestions.a2" label=customQuestions.q2}}
                <!---->
                {{/if}}
                <!---->
                {{#if customQuestions.q3}}
                <!---->
                {{> afFormGroup name="customQuestions.q3" label=customQuestions.q3}}
                <!---->
                {{/if}}
                <!---->
                {{/autoForm}}
            </div>
        </div>
        {{/if}}
        <!---->
        {{/with}}
        <!--Custom Questions-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Saved Incident Files</h3>
            </div>
            <div class="panel-body afBody">
                <div class="list-group">
                    {{#if fileUploads.length}}
                    <label class="control-label">Click File to View:</label>
                    {{/if}} {{#each fileUploads}}
                    <a class="list-group-item fileUpload" data="{{this}}">{{this}}</a> {{/each}}
                </div>
                <label class="control-label">Upload Files</label>
                {{#if isInRole 'admin,editor'}} {{> upload_bootstrap formData=record multiple=true callbacks=uploadFile}} {{/if}}
            </div>
        </div>
        <!--/Custom Questions-->
        <div class="col-md-12 mar1y">
            <a href="{{pathFor 'records'}}" class="btn btn-primary btn-lg btn-block">
                <i class="glyphicon glyphicon-check"></i> Done
            </a>
        </div>
    </div>
</template>
