<template name="records">
    <div class="modal fade" id="createRecordModal" tabindex="91" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header primary-bg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title" id="myModalLabel">New Record</h4> </div>
                <div class="modal-body">
                    <div class="col-md-12 text-left">
                        <p class="small"><em>*Drag Icon to Incident Location/IPP or enter coordinates below</em></p>
                    </div>
                    <div id='recordMap' style="width:100%;height:400px"></div>
                    {{#autoForm id="createRecordModalFormId" type="insert" collection="Records" validation="submit" resetOnSuccess=true class="recordForm2 smallLabels hideHeader"}} {{> afQuickField name='coords.ippCoordinates' }} {{> afQuickField name='recordInfo'}}
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default pull-left">Reset Form</button>
                        <button data-dismiss="modal" class="btn btn-default pull-left">Cancel</button>
                        <button id="saveNewRecord" type="submit" class="btn btn-primary">Add Record</button>
                    </div>
                    {{/autoForm}}
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-inverse contentNav">
        <div class="container-fluid">
            <div class="page auth">
                <nav class="hidden-print">
                    <div class="nav-group">
                        <a href="#" class="js-menu nav-item"><span class="tmp-icon-list-unordered white"></span></a>
                    </div>
                </nav>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#if createNewBtn}}
                <ul class="nav navbar-nav">
                    <li><a href="#" class="strong" data-target="#createRecordModal" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> New Record</a></li>
                    <!---->
                    {{#if isInRole 'admin'}}
                    <!---->
                    {{#if selectedRecords}}
                    <li><a href="#" class="strong deleteRecord"><i class="glyphicon glyphicon-trash"></i>Delete Records</a>
                    </li>
                    <!---->
                    {{/if}}
                    <!---->
                    {{/if}}
                </ul>
                {{/if}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> More<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="genReport"><i class="glyphicon glyphicon-folder-close"></i> View Report</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a id="downloadRecords" href="#"><i class="fa fa-table"></i> Download CSV</a></li>
                            <li><a id="downloadRecordsJSON" href="#"><i class="fa">{..}</i> Download JSON</a></li>
                            {{#if isInRole 'admin,editor'}}
                            <li role="separator" class="divider"></li>
                            <li>
                                <span class="btn-file" href="#" type="file">
<input id="importData" type="file">
    <i class="glyphicon glyphicon-import"></i> Import JSON
</span>
                            </li>
                            {{/if}}
                            <li role="separator" class="divider"></li>
                            {{#if isInRole 'admin'}}
                            <li>
                                <a class="uploadISRID" href="#"> <i class="glyphicon glyphicon-export"></i> Export to ISRID</a>
                            </li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="tab-content content-scrollable pad2" style="top:50px;">
        {{#if userAlert}}
        <div class="fullScreen strong text-center">
        </div>
        <div class="strong userAlert text-capitalize {{userAlertClass}}">
            {{userAlert.text}}
        </div>
        {{/if}} {{#if hasRecords}}
        <!---->
        <div class="col-md-12">
            {{> reactiveTable settings=settings}}
        </div>
        <!---->
        {{else}}
        <!---->
        <p class="text-center text-default">No records exist!</p>
        <!---->
        {{/if}}
        <!---->
        {{#unless canCreateNewRecords}}
        <p class="text-center text-warning">Agency Profile must be setup by Admin to begin creating records</p>
        {{/unless}} {{#if createNewBtn}}
        <button class="btn btn-default pull-left createSampleRecords">Create Sample Records</button>{{/if}}
    </div>
</template>
