<template name="stats">
    <div class="page auth _contentNav">
        <nav class="hidden-print">
            <div class="nav-group">
                <a href="#" class="js-menu nav-item"><span class="tmp-icon-list-unordered white"></span></a>
            </div>
        </nav>
    </div>
    <div class="tab-content content-scrollable pad2">
        <h3 class="panel-title text-center text-uppercase text-light">Click a Point to View Detailed Record Information</h3>
        <div id='recordsMap' style="width:100%;height:300px">
        </div>
        




        <div class="row white">
            {{#each stats}}
            <div class="white-border col-sm-12 pad00 mar2y white">
                {{#if generateMap}} {{>reportMap this}} {{/if}} {{#each this.data}}
                <div class="statInfo">
                    <div class="chartTitle">{{this.field}}</div>
                    <div class="cont">
                        {{#each this.data}}
                        <div class="_col-md-4 chartBody pad0x">
                            <div class="stronger">{{this.key}}:</div>
                            <div class="bod">{{this.val}}</div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>



        <hr>
        <div class="row">
            <div class="col-xs-12 mar2y">
                <div id="dateChart" class="panel-body pad1 greenish-bg white-border">
                    <div id="charts">
                        <div id="date-chart" class="chart col-md-12 pad00">
                            <div class="title text-center text-orange">Incident Date Range Slider</div>
                        </div>
                        <div id="totals" class="text-light text-right mar2x"><span id="Active">{{currentRecords}}</span> of <span id="total">-</span> records selected.</div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <h4 class="text-center">Incident Date Calender View</h4>-->
        <div id="recordsResource" class="renderedChart"></div>
        <div id="recordsSubject" class="renderedChart"></div>
        <div class="row">
            <div class="col-xs-12">
                <div id="recordss" class="renderedChart"></div>
            </div>
        </div>
    </div>
</template>
